#textdomain wesnoth-Random_Campaign
[textdomain]
    name="wesnoth-Random_Campaign"
    path="data/add-ons/Random_Campaign/translations"
[/textdomain]

# wmllint: directory spellings SigurdFireDragon Ultimate Random_Campaign
# wmllint: directory spellings Khalifate {~add-ons version}

# wmlscope: export=no

[campaign]
    id=Random_Campaign
    name= _ "Random Campaign"
    abbrev= _ "RC"
    define=RANDOM_CAMPAIGN
    type=mp
    min_players=1
    max_players=1
    allow_era_choice=no
    extra_defines=ENABLE_ARMAGEDDON_DRAKE,ENABLE_DWARVISH_ARCANISTER,ENABLE_ANCIENT_LICH,ENABLE_ORCISH_HIGH_WARLORD
    difficulties=EASY,NORMAL,HARD,NIGHTMARE
    difficulty_descriptions={MENU_IMG_TXT2 "units/human-loyalists/sergeant-lead-1.png~RC(magenta>red)" _"Sergeant" _"(Easy)"} +
    ";*" + {MENU_IMG_TXT2 "units/human-loyalists/lieutenant-lead-1.png~RC(magenta>red)" _"Lieutenant" _"(Normal)"} +
    ";" + {MENU_IMG_TXT2 "units/human-loyalists/general-leading.png~RC(magenta>red)" _"General" _"(Hard)"} +
    ";" + {MENU_IMG_TXT2 "units/human-loyalists/marshal-leading.png~RC(magenta>red)" _"Grand Marshal" _"(Nightmare)"}
    icon=units/random-dice.png
    image=portraits/humans/transparent/lieutenant.png
    description= _ "Choose your army and lead it to victory against all of the factions over a series of random maps.
(Intermediate level, 7 scenarios.)" + " <span color='#888'>Version:" + " {~add-ons/Random_Campaign/dist/version} " + "
Requires Ultimate Random Maps and Era of Legends.</span>"
    first_scenario=SP_00
    [about]
        title = _ "Campaign Design and Programming"
        [entry]
            name = "Jeffrey 'Sigurd' Westcoat (SigurdFireDragon)"
        [/entry]
    [/about]
[/campaign]

#ifdef RANDOM_CAMPAIGN
[binary_path]
    path=data/add-ons/Random_Campaign/
[/binary_path]
[+units]
    {~add-ons/Era_of_Legends/units}
[/units]
{~add-ons/Ultimate_Random_Maps/generators}
{~add-ons/Random_Campaign/utils_common}
{~add-ons/Random_Campaign/utils_sp}
{~add-ons/Random_Campaign/scenarios_sp}
#endif

#ifdef MULTIPLAYER
[binary_path]
    path=data/add-ons/Random_Campaign/
[/binary_path]
{~add-ons/Ultimate_Random_Maps/generators}
{~add-ons/Random_Campaign/utils_common}
{~add-ons/Random_Campaign/utils_mp}
{~add-ons/Random_Campaign/scenarios_mp}
#endif

# See http://forums.wesnoth.org/viewtopic.php?f=8&t=32922 for more info.
