#textdomain wesnoth-Random_Campaign
[textdomain]
    name="wesnoth-Random_Campaign"
    path="data/add-ons/Random_Campaign/translations"
[/textdomain]

[campaign]
    id=Random_Campaign
    name= _ "Random Campaign"
    abbrev= _ "RC"
    define=RANDOM_CAMPAIGN
	extra_defines=ENABLE_ARMAGEDDON_DRAKE,ENABLE_DWARVISH_ARCANISTER,ENABLE_ANCIENT_LICH,ENABLE_ORCISH_HIGH_WARLORD
    difficulties=EASY,NORMAL,HARD
    difficulty_descriptions=_"&units/drakes/burner.png=Clear;
    	*&units/drakes/fire.png=Fog;
    	&units/drakes/inferno.png=Shroud"
    icon=units/random-dice.png
    image=data/add-ons/Random_Campaign/images/question_mark.png
    description= _ "The multiplayer factions are brought to campaign action. Choose one of 7 factions and play a campaign with it. Each battle will against one of the seven factions on one of nine random map types. The maps and factions do not repeat, so you will get to play your chosen faction in a wide variety of situations. Instead of traditional difficulty levels, select if you want the maps to be clear, fog, or shroud.
(Intermediate level, 7 scenarios.)" + "
<span color='#888'>Version {~add-ons/Random_Campaign/dist/version}</span>"
    first_scenario=00_Setup
    [about]
        title = _ "Campaign Design and Programming"
        [entry]
            name = "Jeffrey 'Sigurd' Westcoat (SigurdFireDragon)"
        [/entry]
    [/about]
[/campaign]

#ifdef RANDOM_CAMPAIGN
[binary_path]
    path=data/add-ons/Random_Campaign/
[/binary_path]
[+units]
    {~add-ons/Era_of_Legends/units}
[/units]
{~add-ons/Sigurd's_Random_Maps/generators}
{~add-ons/Random_Campaign/utils_common}
{~add-ons/Random_Campaign/utils_sp}
{~add-ons/Random_Campaign/scenarios_sp}
#endif

#ifdef MULTIPLAYER
[binary_path]
    path=data/add-ons/Random_Campaign/
[/binary_path]
{~add-ons/Sigurd's_Random_Maps/generators}
{~add-ons/Random_Campaign/utils_common}
{~add-ons/Random_Campaign/utils_mp}
{~add-ons/Random_Campaign/scenarios_mp}
{~add-ons/Random_Campaign/eras}
#endif

# See http://forums.wesnoth.org/viewtopic.php?f=8&t=32922 for more info.
