#textdomain wesnoth-Random_Campaign

# These macros contain all data that is not generator specific
# for the building of a scenario.

#define 01_LEVEL_DATA
    {RC_STORY_START}
    random_start_time=yes
    turns=30
    {RC_SIDE_PLAYER 200 0}
    {RC_SIDE_COMPUTER 2 default 150 175 200 225 -1 0 1 2}
    {RC_DIALOG}
    {RC_NEXT_SCENARIO 2}
#enddef

#define 02_LEVEL_DATA
    {RC_STORY}
    random_start_time=yes
    turns=30
    {RC_SIDE_PLAYER 200 0}
    {RC_SIDE_COMPUTER 2 default 175 200 225 250 1 2 3 4}
    {RC_DIALOG}
    {RC_NEXT_SCENARIO 3}
#enddef

#define 03_LEVEL_DATA
    {RC_STORY}
    random_start_time=yes
    turns=30
    {RC_SIDE_PLAYER 200 0}
    {RC_SIDE_COMPUTER 2 default 200 225 250 275 3 4 5 6}
    {RC_DIALOG}
    {RC_NEXT_SCENARIO 4}
#enddef

#define 04_LEVEL_DATA
    {RC_STORY}
    random_start_time=yes
    turns=30
    {RC_SIDE_PLAYER 250 4}
    {RC_SIDE_COMPUTER 2 heroes 250 275 300 325 5 6 7 8}
    {RC_DIALOG}
    {RC_NEXT_SCENARIO 5}
#enddef

#define 05_LEVEL_DATA
    {RC_STORY}
    random_start_time=yes
    turns=30
    {RC_SIDE_PLAYER 250 4}
    {RC_SIDE_COMPUTER 2 heroes 275 300 325 350 7 8 9 10}
    {RC_DIALOG}
    {RC_NEXT_SCENARIO 6}
#enddef

#define 06_LEVEL_DATA
    {RC_STORY}
    random_start_time=yes
    turns=30
    {RC_SIDE_PLAYER 250 4}
    {RC_SIDE_COMPUTER 2 heroes 300 325 350 375 9 10 11 12}
    {RC_DIALOG}
	{RC_UPDATE_PLAYER_RECRUIT}
    {RC_NEXT_SCENARIO 7}
#enddef

#define 07_LEVEL_DATA
    {RC_STORY}
    random_start_time=yes
    turns=-1
    {RC_SIDE_PLAYER 300 8}
    {RC_SIDE_COMPUTER 2 legends 400 425 450 475 13 18 23 28}
    {RC_DIALOG}
	{RC_SAVE_TO_CUSTOM}
    {RC_NEXT_SCENARIO E}
#enddef
