#textdomain wesnoth-Random_Campaign

# All URM macros are outside of the Random Campaign macro.
# They are located in ~add-ons/Ultimate_Random_Maps/generators/
# So don't have wmlscope look for them.
#define RC_GENERATOR_BARREN MAP_WIDTH MAP_HEIGHT ITERATIONS PLAYERS CASTLE_SIZE
    # wmlscope: start ignoring
    map_generation=default
    [generator]
        {URM_MAP_GENERATOR_Barren {MAP_WIDTH} {MAP_HEIGHT} {ITERATIONS} {PLAYERS} {CASTLE_SIZE}}
    [/generator]
    {URM_MAP_EVENTS_Barren}
    # wmlscope: stop ignoring
#enddef

#define RC_GENERATOR_CAVE MAP_WIDTH MAP_HEIGHT ITERATIONS PLAYERS CASTLE_SIZE
    # wmlscope: start ignoring
    map_generation=default
    [generator]
        {URM_MAP_GENERATOR_Cave {MAP_WIDTH} {MAP_HEIGHT} {ITERATIONS} {PLAYERS} {CASTLE_SIZE}}
    [/generator]
    {URM_MAP_EVENTS_Cave}
    # wmlscope: stop ignoring
#enddef

#define RC_GENERATOR_CITADEL MAP_WIDTH MAP_HEIGHT ITERATIONS PLAYERS CASTLE_SIZE
    # wmlscope: start ignoring
    map_generation=default
    [generator]
        {URM_MAP_GENERATOR_Citadel {MAP_WIDTH} {MAP_HEIGHT} {ITERATIONS} {PLAYERS} {CASTLE_SIZE}}
    [/generator]
    {URM_MAP_EVENTS_Citadel}
    # wmlscope: stop ignoring
#enddef

#define RC_GENERATOR_DESERT MAP_WIDTH MAP_HEIGHT ITERATIONS PLAYERS CASTLE_SIZE
    # wmlscope: start ignoring
    map_generation=default
    [generator]
        {URM_MAP_GENERATOR_Desert {MAP_WIDTH} {MAP_HEIGHT} {ITERATIONS} {PLAYERS} {CASTLE_SIZE}}
    [/generator]
    {URM_MAP_EVENTS_Desert}
    # wmlscope: stop ignoring
#enddef

#define RC_GENERATOR_FLOOD MAP_WIDTH MAP_HEIGHT ITERATIONS PLAYERS CASTLE_SIZE
    # wmlscope: start ignoring
    map_generation=default
    [generator]
        {URM_MAP_GENERATOR_Flood {MAP_WIDTH} {MAP_HEIGHT} {ITERATIONS} {PLAYERS} {CASTLE_SIZE}}
    [/generator]
    {URM_MAP_EVENTS_Flood}
    # wmlscope: stop ignoring
#enddef

#define RC_GENERATOR_ISLAND MAP_WIDTH MAP_HEIGHT ITERATIONS PLAYERS CASTLE_SIZE
    # wmlscope: start ignoring
    map_generation=default
    [generator]
        {URM_MAP_GENERATOR_Island {MAP_WIDTH} {MAP_HEIGHT} {ITERATIONS} {PLAYERS} {CASTLE_SIZE}}
    [/generator]
    {URM_MAP_EVENTS_Island}
    # wmlscope: stop ignoring
#enddef

#define RC_GENERATOR_JUNGLE MAP_WIDTH MAP_HEIGHT ITERATIONS PLAYERS CASTLE_SIZE
    # wmlscope: start ignoring
    map_generation=default
    [generator]
        {URM_MAP_GENERATOR_Jungle {MAP_WIDTH} {MAP_HEIGHT} {ITERATIONS} {PLAYERS} {CASTLE_SIZE}}
    [/generator]
    {URM_MAP_EVENTS_Jungle}
    # wmlscope: stop ignoring
#enddef

#define RC_GENERATOR_LAVA MAP_WIDTH MAP_HEIGHT ITERATIONS PLAYERS CASTLE_SIZE
    # wmlscope: start ignoring
    map_generation=default
    [generator]
        {URM_MAP_GENERATOR_Lava {MAP_WIDTH} {MAP_HEIGHT} {ITERATIONS} {PLAYERS} {CASTLE_SIZE}}
    [/generator]
    {URM_MAP_EVENTS_Lava}
    # wmlscope: stop ignoring
#enddef

#define RC_GENERATOR_MARSH MAP_WIDTH MAP_HEIGHT ITERATIONS PLAYERS CASTLE_SIZE
    # wmlscope: start ignoring
    map_generation=default
    [generator]
        {URM_MAP_GENERATOR_Marsh {MAP_WIDTH} {MAP_HEIGHT} {ITERATIONS} {PLAYERS} {CASTLE_SIZE}}
    [/generator]
    {URM_MAP_EVENTS_Marsh}
    # wmlscope: stop ignoring
#enddef

#define RC_GENERATOR_RIVER MAP_WIDTH MAP_HEIGHT ITERATIONS PLAYERS CASTLE_SIZE
    # wmlscope: start ignoring
    map_generation=default
    [generator]
        {URM_MAP_GENERATOR_River {MAP_WIDTH} {MAP_HEIGHT} {ITERATIONS} {PLAYERS} {CASTLE_SIZE}}
    [/generator]
    {URM_MAP_EVENTS_River}
    # wmlscope: stop ignoring
#enddef

#define RC_GENERATOR_VALE MAP_WIDTH MAP_HEIGHT ITERATIONS PLAYERS CASTLE_SIZE
    # wmlscope: start ignoring
    map_generation=default
    [generator]
        {URM_MAP_GENERATOR_Vale {MAP_WIDTH} {MAP_HEIGHT} {ITERATIONS} {PLAYERS} {CASTLE_SIZE}}
    [/generator]
    {URM_MAP_EVENTS_Vale}
    # wmlscope: stop ignoring
#enddef

#define RC_GENERATOR_VOLCANO MAP_WIDTH MAP_HEIGHT ITERATIONS PLAYERS CASTLE_SIZE
    # wmlscope: start ignoring
    map_generation=default
    [generator]
        {URM_MAP_GENERATOR_Volcano {MAP_WIDTH} {MAP_HEIGHT} {ITERATIONS} {PLAYERS} {CASTLE_SIZE}}
    [/generator]
    {URM_MAP_EVENTS_Volcano}
    # wmlscope: stop ignoring
#enddef

#define RC_GENERATOR_WINTER MAP_WIDTH MAP_HEIGHT ITERATIONS PLAYERS CASTLE_SIZE
    # wmlscope: start ignoring
    map_generation=default
    [generator]
        {URM_MAP_GENERATOR_Winter {MAP_WIDTH} {MAP_HEIGHT} {ITERATIONS} {PLAYERS} {CASTLE_SIZE}}
    [/generator]
    {URM_MAP_EVENTS_Winter}
    # wmlscope: stop ignoring
#enddef
